<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Карты Таро. “Хозяйка своей судьбы")
		meta(name="keywords" content="")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		link(rel="icon" type="image/x-icon" href="i/favicon.png")
		link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
		link(rel="appendix" href="/sitemap/")
		title Карты Таро. “Хозяйка своей судьбы
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/styles.css")
	body
		// Первый экран
		include pug/first_screen
		// Второй экран
		include pug/second_screen
		// Третий экран
		include pug/third_screen
		// Четвертый экран
		include pug/fourth_screen
		// Пятый экран
		include pug/fifth_screen
		// Подвал
		include pug/footer
		// Скрипты
		include pug/scripts
		iframe(name="results" style="display:none;")