footer#footer
    .container
        h5 Хотите узнать больше? Вступайте в наши группы!
        .soc_buttons
            .col-md-2
                a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
                    i(class="fa fa-facebook" aria-hidden="true")
            .col-md-2
                a(href="http://vk.com/mv_ezoterika" target="_blank")
                    i(class="fa fa-vk" aria-hidden="true")
            .col-md-2
                a(href="https://twitter.com/MastervisionEzo" target="_blank")
                    i(class="fa fa-twitter" aria-hidden="true")
            .col-md-2
                a(href="https://www.instagram.com/mastervision1/" target="_blank")
                    i(class="fa fa-instagram" aria-hidden="true")
            .col-md-2
                a(href="https://ok.ru/mv.ezoterika" target="_blank")
                    i(class="fa fa-odnoklassniki" aria-hidden="true")
            .col-md-2
                a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
                    i(class="fa fa-youtube" aria-hidden="true")
            .clfix
        p ИП Кудряшов Александр Анатольевич г. Москва, Новокуркинское шоссе, 27 ИНН 720410077658 ОГРН 315723200065100 
        a.conditions(href="") Условия возврата денежных средств