header#header
	a.logo(href="/")
		img(src="img/logo.png", alt="Логотип")
	.contacts
		a.phone(href="callto:8-499-346-79-46")
			img(src="img/phone.png", alt="Телефон")
			span 8-499-346-79-46
		a.skype(href="skype:add?admin-mastervision")
			img(src="img/skype.png", alt="Скайп")
			span admin-mastervision
		a.mailto(href="mailto:info@mastervision.su")
			img(src="img/mail.png", alt="Почта")
			span info@mastervision.su
	.clfix