#second_screen
	.container
		img(src="img/6_risons.png", alt="6 причин посетить интенсив").h_img
		.row
			.col-md-4
				img(src="img/1_card.png", alt="Карта 1").card
				.description
					p.dark Вы чувствуете, что жизнь застыла на месте, вы словно в тупике, не видите выхода, перспективы закрыты
					p.pink Таро поможет найти выход из любой сложной ситуации, какой бы безвыходной она не казалась
			.col-md-4
				img(src="img/2_card.png", alt="Карта 2").card
				.description
					p.dark  Вы работаете «как проклятый», стараетесь делать все для семьи, изнуряете себя до изнеможения, а в результате — нищета и куча проблем
					p.pink Карты Таро раскроют причины такого существования, предложат способ изменить ситуацию
			.col-md-4
				img(src="img/3_card.png", alt="Карта 3").card
				.description
					p.dark Вы ставите перед собой цель, идете к ней, но в последний момент все идет крахом, вам приходится все начинать сначала
					p.pink С помощью Таро вы сможете создавать беспроигрышный маршрут движения к своей цели её гарантированное достижение
		.clfix
		.row
			.col-md-4
				img(src="img/4_card.png", alt="Карта 4").card
				.description
					p.dark Вы все время болеете, не помните времени, когда чувствовали себя здоровым, полным сил и энергии
					p.pink Благодаря Таро вы сможете посмотреть на свое здоровье с совершенно иного ракурса, получить ресурсы и энергию для полного выздоровления
			.col-md-4
				img(src="img/5_card.png", alt="Карта 5").card
				.description
					p.dark В вашей жизни нет счастья, нет любящих и добрых отношений, и эта область вашей жизни находится в тупике
					p.pink Таро поможет вам обрести отношения, основанные на гармонии и радости
			.col-md-4
				img(src="img/6_card.png", alt="Карта 5").card
				.description
					p.dark Вас уволили или сократили? Срочно нужна работа?
					p.pink Обретите желаемую работу с помощью Таро
		button.button  УЧАСТВОВАТЬ В ИНТЕНСИВЕ