#text_testimonials
    .carousel.slide(data-ride="carousel")#carousel_text
        ol.carousel-indicators
            li(data-target="#carousel_text" data-slide-to="0" class="active")
            li(data-target="#carousel_text" data-slide-to="1")
            li(data-target="#carousel_text" data-slide-to="2")
            li(data-target="#carousel_text" data-slide-to="3")
            li(data-target="#carousel_text" data-slide-to="4")
        .carousel-inner(role="listbox")
            .item.active
                 .carousel-caption
                    .white_wrap
                        .inner_wrap
                            img(src="img/tatyana.jpg", alt="Татьяна Николаенкова").testimonial_photo
                            h5 Татьяна Николаенкова
                            p Мир Таро - это огромный, загадочный, мистический мир. И войти в него просто так не получится. Нужен проводник. София - мудрый проводник в страну Таро. Я училась у разных учителей, благодарна всем. София выделяется своей уникальностью, глубиной познания в этой сфере, большим практическим опытом. Но самое главное, что отличает Мастера - это умение привести ученика туда, где он находится сам. И София делает это, четко ведя нас к цели. Она дала систематизированные знания, постоянно была на связи в чате, попутно отвечая на возникшие вопросы. В течение полугода была для нас мамой, учителем, великолепной женщиной, с которой хотелось брать пример, и Ангелом-Хранителем, безотказно помогала всем в сложнейших жизненных ситуациях. Ее работа - высший пилотаж. София, огромная благодарность от всех учеников нашего курса. Будем счастливы продолжить обучение под твоим крылом. Счастья и новых свершений!!!
            .item
                .carousel-caption
                    .white_wrap
                        .inner_wrap
                            img(src="img/galina.jpg", alt="Галина Сарапулова").testimonial_photo
                            h5 Галина Сарапулова
                            p Софиюшка, я тоже благодарю Вселенную за эту удивительную возможность общения с Вами и обучения у Вас! Заинтересовалась Таро давно, но никак не могла найти Своего Учителя, попав к вам на бесплатный интенсив, сразу поняла, что наконец-то нашла! И как же я рада, что пошла на платный курс! Я просто в восторге! Столько мудрости в ваших словах, столько терпения и такта, с такой щедростью делитесь своими такими ценными знаниями, которых не найдешь в интернете, своим многолетним практическим опытом – благодарю за все! Самое главное, что Вы показываете Таро с таких сторон, о которых многие даже не подозревают! Да, я только немного начала понимать этот удивительный мир Таро, я еще долго обдумываю расклады, и пусть мне еще учиться и учиться, теперь я знаю – у кого! С огромным удовольствием буду учиться у Вас и дальше, тем более у Вас столько интересных задумок и планов! Успехов Вам во всем!
            .item
                .carousel-caption
                    .white_wrap
                        .inner_wrap
                            img(src="img/lyudmila.jpg", alt="Lyudmila Suprunova").testimonial_photo
                            h5 Lyudmila Suprunova
                            p Меня давно интересовал этот удивительный мир Таро !!! Много изучала разной информации,но пазлы картины моей мечты...никак не складывались. И вот Вселенная сделала мне уникальнейший ПОДАРОК- встречу с Софией !!!!!!За что, я бесконечно благодарна!!!!В своей жизни я много училась и учусь до сих пор. Но УЧИТЕЛЯ с таким широким диапазоном Знаний я встретила впервые!!! Энциклопедия Софии Вюрстлин ( 1000......0 в 1) - это уникальный случай!!! Это Великий Мастер с бесценным кладезем знаний!!! Как же талантливо она превратила все сферы жизни в настоящее искусство!!! Искусство созидания. творения , жизненной мудрости , человеколюбия , преподавания, неподражаемой женственности, безупречного стиля и обаяния!!! Каждое занятие это был Праздник, которого я ждала с нетерпением и хотелось слушать бесконечно! Огромнейшее спасибо и низкий поклон за все Ваши Уроки прекраснейшая София!!! Они не имеют аналогов.
            .item
                .carousel-caption
                    .white_wrap
                        .inner_wrap
                            img(src="img/regina.jpg", alt="Регина Марченко").testimonial_photo
                            h5 Регина Марченко
                            p София! Много лет я шла по своему пути души и старалась обойти ТАРО. Меня жизнь не раз к нему возвращала, но я упорно запрещала себе взять его в руки. Но в один прекрасный момент я попала к Вам на интенсив. И вот - сначала в моей душе а потом и в моей голове все перевернулось. И я на ТАРО посмотрела совсем другими глазами. Вы подняли такое желание учиться и владеть этим искусством что в жизни сразу прошли многие корректировки и изменения. А Ваша способность преподнести информацию в таком количестве что в еще неделю открываешь все новое и новое вообще зачаровывает. Безумно приятно Вас слушать и видеть. ВЫ УЧИТЕЛЬ С БОЛЬШОЙ БУКВЫ, ОТ БОГА!!! Ваше видение жизни, законов мировоззрение просто ошеломляет своей мудростью и умением достучаться до души. Спасибо Вам за знания которые Вы нам дали, за вашу чувственность и мудрость, за щедрость Вашей души, открытость и честность в суждениях и анализах. Спасибо что Вы есть!!!!!
            .item
                .carousel-caption
                    .white_wrap
                        .inner_wrap
                            img(src="img/irina.jpg", alt="Ирина Николаева").testimonial_photo
                            h5 Ирина Николаева
                            p София,Благодарю тебя за прекрасную подачу материала на интенсиве по Таро.Очень интересно и познавательно. С превеликим удовольствием поддерживаю тебя на интенсиве,потому что ты мастер с Большой буквы. Хотя я одна из учениц,тем не менее слушать и впитывать новые знания,а потом и применять их грамотно на практике это подарок. Ещё раз Благодарю что ты у нас есть. Также Благодарю Александра Кудряшова за организацию этого мероприятия,где многие узнали про тебя.И если у них что-то тронет в душе,то могут выйти на качественно новый уровень жизни. София БРАВО! Всё чётко,доступно,понятно. Желаю тебе всего самого наилучшего
