section#third_screen
    .container
        h3 Описание интенсива по плану
        .cards_row
            .single_card
                .single_wrapper
                    h5 день 1
                    ul
                        li Таро - добро или зло? (Что такое карты Таро)
                        li На какие вопросы отвечают карты Таро?
                        li Кто может работать с Таро?
                        li Как выбирать колоду?
                        li Как хранить колоду?
                        li Как очищать колоду?
                        li Как работают карты Таро и почему они с нами разговаривают?

            .single_card
                .single_wrapper
                    h5 день 2
                    ul
                        li Таро – старшие арканы –знакомство
                        li Событие и старшие Арканы.
                        li Можно ли управлять своей судьбой?
                        li Что влияет на судьбу человека?
                        li Линия судьбы
                        li Предназначение
            .single_card
                .single_wrapper
                    h5 день 3
                    ul
                        li Какие бывают расклады?
                        li Что такое расклад?
                        li Как выбирать расклад?
                        li Девинация
                        li Как подготовиться к сеансу гадания?
                        li Младшие арканы - знакомство
                        li Масть жезлов
                        li Масть мечей
                        li Потоки стихий
            .single_card
                .single_wrapper
                    h5 день 4
                    ul
                        li Масть кубков
                        li Масть пентаклей
                        li Фигурные карты - знакомство
                        li Таро как помощь во взаимоотношениях
            .single_card
                .single_wrapper
                    h5 день 5
                    ul
                        li Коррекция на Таро
                        li Моделирование на Таро
                        li Расстановки на Таро
                        li Коучинг по Таро
                        li Магия Таро
            .clfix
        a(href="#").button  УЧАСТВОВАТЬ В ИНТЕНСИВЕ