@media screen and (max-width: 1024px)
	.first_screen_container h4
		font-size: 2rem
	.sibscribe_wrapper
		padding: 15px 30px
	.infront
		font-size: 18px
		font-weight: normal
		line-height: 18px
	.mail,
	.phone-block .phone
		width: 53%
	.button
		padding: 5px 25px
	.spam
		font-size: 10px
		margin-top: 12px
	.contacts img
		margin: 0 5px 0 15px
	.card
		width: 95% 
	.dark::after
		margin: 10px auto
	.description
		font-size: 15px
		width: 185px;
		left: 51px;
		top: 146px;
		line-height: 17px
	.single_card
		width: 34%

@media screen and (max-width: 980px)
	.logo
		max-width: 22%
		img
			width: 100%
	.contacts
		font-size: 14px
		font-weight: normal
	.video_wrapper
		margin-bottom: 30px
	.sibscribe_wrapper
		padding: 30px 45px;
		max-width: none;
		max-height: none;
	.infront
		font-size: 20px;
		font-weight: bold;
		line-height: 25px;
	.button
		padding: 5px 45px;
		width: 45%;
		float: right;
	.card
		width: auto
	.description
		font-size: 16px
		width: 235px;
		left: 57px;
		top: 186px;
		line-height: 22px;
	.dark::after
		margin: 20px auto
	#second_screen .button,
	#third_screen .button,
	#fourth_screen .button
		display: block;
		margin: 85px auto 35px;
		padding: 17px;
		border-radius: 3px;
		float: none;
	.single_card
		float: none;
		margin: 10px auto;
		display: block;
		width: 60%;
		&:first-child
			margin-left auto
	.carousel-caption
		width: 100%
	#second_screen .row
		margin-bottom: 10px;
	.col-md-4:nth-child(2)
		margin-top: 40px
		margin-bottom:  0
@media screen and (max-width: 768px)
	#fourth_screen h3
		margin-left: 10%
	#about
		width: 80%
		margin: 0 auto
	.carousel-caption
		width: 77%
@media screen and (max-width: 700px)
	#first_screen
		padding-top: 15px
	#header
		margin-bottom: 35px;
	.logo
		display: block;
		float: none;
		margin: 0 auto 8px;
	.contacts
		width: 100%;
@media screen and (max-width: 580px)
	.logo
		max-width: 25%
	.first_screen_container h3
		line-height: 1.1;
		font-size: 2rem;
	.first_screen_container h1
		font-size: 4rem
	.subscribe_block
		max-height: none
	.mail,
	.phone-block .phone
		width: 100%
		display: block
		margin-bottom: 15px
		float: none
	.button
		float: none
		width: 100%
	#fourth_screen .button,
	#second_screen .button,
	#third_screen .button
		width: 70%
	#third_screen h3,
	#fifth_screen h3
		font-size: 3rem
	#video_testimonials .item
		min-height: auto
	#footer h5
		font-size: 2rem
	.soc_buttons a
		margin: 0 4px
@media screen and (max-width: 480px)
	.single_card
		width: 75%
	.single_wrapper
		padding: 0 0px 20px
	.single_wrapper ul
		margin-left: 45px
	.testimonial_photo
		width: 70%
@media screen and (max-width: 480px)
	.first_screen_container h1
		font-size: 3rem;
	.first_screen_container h4
		line-height: 1.2
	.sibscribe_wrapper
		padding: 15px 20px
	.infront,
	.infront_submit,
	.span_phone
		font-size: 16px;
		font-weight: normal;
		text-shadow: none;
	.h_img
		width: 90%;
		margin: 0 auto 30px;
	.description
		width: 58%
	#fourth_screen .button, #second_screen .button, #third_screen .button
		width: 100%
	#fifth_screen h3, #third_screen h3
		font-size: 2rem
	.single_card
		width: 100%
	.single_wrapper h5
		font-size: 25px
		line-height: 6.4;
	#fourth_screen
		.h_img
			width: 45%
	#sophia
		width: 100%
	#fourth_screen h3
		font-size: 25px
		margin-top: 25px;
	.carousel-caption
		width: 100%
	.inner_wrap
		padding: 15px
	.soc_buttons a
		margin: 0 4px 11px
@media screen and (max-width: 320px)
	.logo
		max-width: 50%
	.card
		width: 100%
	.description
		width: 58%;
		top: 150px;
		left: 47px;
		font-size: 14px;
	.dark::after
		margin: 10px auto 5px;
	.single_wrapper ul
		margin-right: 15px