@media screen and (max-width: 1024px)
    .first_screen_container h4
        font-size: 2rem
    .sibscribe_wrapper
        padding: 15px 30px
    .infront
        font-size: 18px
        font-weight: normal
        line-height: 18px
    .mail,
    .phone-block .phone
        width: 53%
    .button
        padding: 5px 25px
    .spam
        font-size: 10px
        margin-top: 12px
    .contacts img
        margin: 0 5px 0 15px
    .card
        width: 95% 
    .dark::after
        margin: 10px auto
    .description
        font-size: 15px
        width: 185px;
        left: 53px;
        top: 146px;
        line-height: 17px
