@media screen and (max-width: 1024px)
	.first_screen_container h4
		font-size: 2rem
	.sibscribe_wrapper
		padding: 15px 30px
	.infront
		font-size: 18px
		font-weight: normal
		line-height: 18px
	.mail,
	.phone-block .phone
		width: 53%
	.button
		padding: 5px 25px
	.spam
		font-size: 10px
		margin-top: 12px
	.contacts img
		margin: 0 5px 0 15px
	.card
		width: 95% 
	.dark::after
		margin: 10px auto
	.description
		font-size: 15px
		width: 185px;
		left: 51px;
		top: 146px;
		line-height: 17px
	.single_card
		width: 34%

@media screen and (max-width: 980px)
	.logo
		max-width: 22%
		img
			width: 100%
	.contacts
		font-size: 14px
		font-weight: normal
	.sibscribe_wrapper
		padding: 30px 45px;
		max-width: none;
		max-height: none;
	.infront
		font-size: 20px;
		font-weight: bold;
		line-height: 25px;
	.button
		padding: 5px 45px;
		width: 45%;
		float: right;
	.card
		width: auto
	.description
		font-size: 16px
		width: 235px;
		left: 57px;
		top: 186px;
		line-height: 22px;
	.dark::after
		margin: 20px auto
	#second_screen .button,
	#third_screen .button,
	#fourth_screen .button
		display: block;
		margin: 85px auto 35px;
		padding: 17px;
		border-radius: 3px;
		float: none;
	.single_card
		float: none;
		margin: 10px auto;
		display: block;
		width: 60%;
		&:first-child
			margin-left auto
	.carousel-caption
		width: 100%