#fifth_screen
    background white url(../img/fifth_screen_bg.jpg)
    background-position top center
    background-repeat no-repeat
    background-size cover
    padding 60px 0
    text-align center
    font-family 'OpenSansBold', sans-serif
    h3
        font-size: 40px;
        font-family: "Impact";
        color: white;
        line-height: 25px
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
        max-width 570px
        margin 0 auto 60px
        border-top 1px solid
        border-bottom  1px solid
        padding 21px 0
@import "text_testimonials"
@import "video_testimonials"