#first_screen
	background black url(../img/first_screen.jpg)
	background-position top center
	background-repeat no-repeat
	background-size cover
	padding 25px 0 40px
	text-align center
	color light_white
	font-family 'OpenSansBold', sans-serif
.first_screen_container
	font-size: 30px;
	font-weight: bold;
	line-height: 0.667;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
	margin-bottom 30px
	h1
		font-size: 50px;
		font-family: "Impact";
		text-transform: uppercase;
		text-shadow: 0px 3px 0px rgba(0, 0, 0, 1);
		max-width 940px
		margin 0 auto 40px
		border-top 1px solid
		border-bottom  1px solid
		padding 15px 0
		line-height: 1.2
	h3
		font-size: 30px;
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.75)
		margin-bottom 34px
	h4
		font-size: 27px;
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
		margin-bottom 34px
.video_wrapper
	position: relative
.wrapper
	content: '';
	display: block;
	padding-top: 56.25%;
	height: 0;
.preveiw
	border-radius 10px
	background-color #fff
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

.subscribe_block
	background white url(../img/subscribe_bg.jpg)
	background-position center
	background-repeat no-repeat
	background-size cover
	border-radius 10px
	width 100%
	padding 17px
	max-height 303px
.h3_img
	width 100%
	display block
	height auto
	margin 0 auto 10px
.sibscribe_wrapper
	padding 30px 45px
	border-radius 10px
	border 1px solid gold
	max-width 525px
	max-height 270px
.infront
	font-size 20px
	color purple
	line-height 25px
.email-block
	margin-top 14px
.mail,
.phone-block .phone
	display inline-block
	border 1px solid rgb(208, 208, 208)
	background-color: rgb(255, 255, 255);
	border-radius 3px
	float left
	color #2f2632
	padding 10px
	font-family 'OpenSansRegular', sans-serif
	font-size 14px
	font-weight normal
	width 200px
.button
	background-image linear-gradient(to right, #caaa53, #ae8b2f ,#836622)
	font-size: 18px;
	font-family: "Impact";
	color: rgb(250, 251, 251);
	line-height: 1.389;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	border-radius 3px
	padding 5px 45px
	border 0
	&:hover
		background-image linear-gradient(to left, #caaa53, #ae8b2f ,#836622)

.spam
	display inline-block
	font-size: 14px;
	font-family 'OpenSansRegular', sans-serif
	font-weight normal
	color: purple
	text-decoration: underline;
	line-height: 1.786;
	margin-top 15px
	cursor: pointer
.infront_submit,
.span_phone
	font-family: 'OpenSansRegular', sans-serif
	font-weight: normal
	font-size: 16px
	margin-bottom: 8px
	color purple
	line-height: 20px
.form_bonus 
	color gold
.close
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	float: right;
	background: transparent;
	border: 0;