#footer
    background-color: #1d171f
    padding: 20px 0
    color:  white
    text-align: center
    font-family: 'OpenSansRegular'
    h5
        font-family: "impact"
        font-size: 26px
        line-height: 25px
    p
        font-size: 14px
.conditions
    color: white
    text-decoration: underline
.soc_buttons
    max-width 38%
    margin: 20px auto
.fa
    color #1d171f
    background-color: white
    padding: 8px
    border-radius: 50%
    width: 30px
    transition: all .6s ease-out
    &:hover
        background-color: pink 
        transition: all .4s ease-in