#second_screen
	background white url(../img/second_screen.jpg)
	background-position top center
	background-repeat no-repeat
	background-size cover
	padding 60px 0
	text-align center
	font-family 'OpenSansBold', sans-serif
	.row
		margin-bottom: 30px
	.col-md-4
		position: relative
	.button
		display: inline-block;
		margin-top: 35px
		padding: 17px
		border-radius:  3px
		&:hover
			color light_white
			text-decoration: none
.description
	position: absolute
	font-size: 16px
	font-family: 'impact';
	font-weight: normal
	width: 235px;
	left: 57px;
	top: 186px;
	margin: 0 auto;
	display: block;
	right: 99px;
.dark
	color: purple
	&:after
		content: ''
		width: 70px
		margin: 20px auto
		height: 1px
		background-color: #464646
		display: block
.pink
	color pink
.h_img
	display: inline-block
	width: auto
	margin: 0 auto 60px
.card
	position:  relative
	top: 0
	left 0
	z-index:  0